/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .carousel-top {
        top: 80%;
    }
    .collapse ul li a{
        padding: 2px;
        margin: 8px;
        font-size: 16px;
        text-transform: capitalize;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .slider h1{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .slider p{
        font-size: 16px;
    }
    .collapse ul li a{
        padding: 2px;
        margin: 8px;
        font-size: 16px;
        text-transform: capitalize;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .slider{
        padding: 60px;
    }
    .slider h1{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .slider p{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .carousel-top {
        top: 80%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .slider h1{
        font-size: 30px;
    }
    .slider p{
        font-size: 18px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .carousel-top {
        top: 70%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    .carousel-top {
        top: 65%;
    }
}